/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.container {
    margin: 0px 40px;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
* {
	font-family : 'Times New Roman', Times, serif;
}
.style {
    margin-left: 18px;
    font-size: 13px;
}
#title {
    text-align : center;
	color : hsl(229, 67%, 54%);
}
.decor {
    width : 450px;
    border: 2px solid;
    padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin : 10px auto 5px;	
}
.space {
    padding-left: 18px;
}
.button-row {
    display: table-cell;
    width: 490px;
    padding-left: 145px;
}
.arrange {
    margin-right:5px;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.radio-button {
    margin: 5px;
}
.dialog {
    margin-left: 12px;
}
.ddecor {
    width : 90%;
    border: 2px solid;
    padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
    margin : 2px auto 2px;	
    font-size: 15px;
}
.submit {
    display: table-cell;
    margin-left: 300px;
    padding-right: 20px;
}
table{
    width: 95%;
}
th,tr{
    border: 1px solid;
    padding: 2px;
}
.fill{
    margin-left: 25px;
}
.card {
    max-width: 400px;
  }
  
.header-image {
    background-size: cover;
    background-image: url('C:\Users\DivyaBharathiRamesh\eForm\src\assets\Images\hobby.jpg');
  }
.header-img {
    background-size: cover;
    background-image: url('C:\Users\DivyaBharathiRamesh\eForm\src\assets\Images\extra.jpg');
}  
.margin {
    margin: 0 12px;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  center{
      align: center;
  }
  
  